@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --serif: Libre Baskerville, serif;
}

html {
    font-family: "Mona Sans", sans-serif;
}

.nostyle, .nostyle:hover {
    background-color: inherit;
    border: none;
}

.subdued {
    color: var(--subtext);
}

p {
    margin: 0 0 var(--space-4);
}

a {
    color: var(--subtext);
    background-color: var(--mantle);
    text-decoration: none;
    border-bottom: 1px dashed var(--subtext);
}

a:hover {
    background-color: var(--lines);
    border-bottom-style: solid;
    cursor: pointer;
}

.section__heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 var(--space-4);
    padding: var(--space-2) 0;
    border-bottom: 2px solid var(--text);
    border-top: 1px solid var(--lines);
    font-size: 1.17em;
  }
  .section__heading * {
    margin: 0;
    padding: 0;
  }